{% extends "base_generic.html" %}

{% block content %}
	<div class="col-lg-9">
		<div class="card mt-4">
			<div class="card-body">
				<h2 class="card-title">Lunch Club Home - All Data</h2>
			</div>
		</div>
		<div class="card mt-4">
			<div class="card-body">
				<h3 class="card-title">Recipe Count</h3>
				<h4>{{ num_recipes }}</h4>
				<p class="card-text">This is the count of all recipes created by chefs.</p>
				<span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9734;</span>
				4.0 stars
			</div>
		</div>
		<div class="card mt-4">
			<div class="card-body">
				<h3 class="card-title">Lunch Count</h3>
				<h4>{{ num_lunches }}</h4>
				<p class="card-text"></p>
				<span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9734;</span>
				4.0 stars
			</div>
		</div>
		<div class="card mt-4">
			<div class="card-body">
				<h3 class="card-title">Available Lunch Count</h3>
				<h4>{{ num_lunches_available }}</h4>
				<p class="card-text"></p>
				<span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9734;</span>
				4.0 stars
			</div>
		</div>
		<div class="card mt-4">
			<div class="card-body">
				<h3 class="card-title">Served Lunch Count</h3>
				<h4>{{ num_lunches_served }}</h4>
				<p class="card-text"></p>
				<span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9734;</span>
				4.0 stars
			</div>
		</div>
		<div class="card mt-4">
			<div class="card-body">
				<h3 class="card-title">User/Chef Count</h3>
				<h4>{{ num_users }}</h4>
				<p class="card-text"></p>
				<span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9734;</span>
				4.0 stars
			</div>
		</div>
		<div class="card mt-4">
			<div class="card-body">
				<h3 class="card-title">Nutrition Category Count</h3>
				<h4>{{ num_nutrition_category }}</h4>
				<p class="card-text"></p>
				<span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9734;</span>
				4.0 stars
			</div>
		</div>
		<div class="card mt-4">
			<div class="card-body">
				<h3 class="card-title">Your Recipe Count</h3>
				<h4>{{ cur_user_recipes }}</h4>
				<p class="card-text"></p>
				<span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9734;</span>
				4.0 stars
			</div>
		</div>
		<div class="card mt-4">
			<div class="card-body">
				<h3 class="card-title">Your Username</h3>
				<h4>{{ var_username }}</h4>
				<p class="card-text"></p>
				<span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9734;</span>
				4.0 stars
			</div>
		</div>
		<div class="card mt-4">
			<div class="card-body">
				{% for obj in num_lunches_all %}
					<h3 class="card-title"></h3>
					<h4>{{ obj.recipe.recipe_name }}  {{ obj.serve_date }}</h4>
					<p class="card-text"></p>
					<span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9734;</span>
					4.0 stars
				{% endfor %}
			</div>
		</div>
		<div class="card mt-4">
			<div class="card-body">
				<p>You have visited this page {{ num_visits }}{% if num_visits == 1 %} time{% else %} times{% endif %}. Something Else or something different</p>
			</div>
		</div>
		<!-- /.card -->
		<div class="card card-outline-secondary my-4">
			<div class="card-header">
				Product Reviews
			</div>
			<div class="card-body">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
				<small class="text-muted">Posted by Anonymous on 3/1/17</small>
				<hr>
			</div>
		</div>
		<!-- /.card -->
	</div>
{% endblock %}