{% extends "base_generic.html" %}

{% block content %}
  <h1>Lunch Arrangement: {{ lunch.lunchname }}</h1>

  <p><strong>Chef:</strong> <a href="">{{ arrangement.chef }}</a></p> <!-- author detail link not yet defined -->
  <p><strong>Gastronome:</strong> {{ arrangement.gastronome }}</p>
<!--  <p><strong>ISBN:</strong> {{ book.isbn }}</p> !-->
<!--  <p><strong>Language:</strong> {{ book.language }}</p> !-->
  <p><strong>Nutrition Type:</strong>

    {% for nutritioncategory in arrangement.lunch.nutritioncategory.all %} 
    
      {{ nutritioncategory }}
      {% if not forloop.last %},
      {% endif %}
    
    {% endfor %}</p>  

  <div style="margin-left:20px;margin-top:20px">
    <h4>Instances of this lunch</h4>

    {% for instance in lunch.lunchinstance_set.all %}
    
      <hr>
      <p class="{% if instance.status == 'po' %}text-success{% elif insance.status == 'pc' %}text-danger{% else %}text-warning{% endif %}">{{ instance.get_status_display }}</p>

      {% if instance.status != 'po' %}
        <p><strong>Due to be returned:</strong>{{instance.serve_date}}</p>
      {% endif %}

      <p><strong>Information:</strong> {{instance.information}}</p>
      <p class="text-muted"><strong>Id:</strong> {{instance.id}}</p>
    
    {% endfor %}
  </div>
{% endblock %}