{% extends "base_generic.html" %}
{% block content %}
	{% load static %}

	<br>
	<br>
	<br>
	<br>
	<br>
	<h3><a class="btn btn-default" role="button" href="{% url 'lunch-create' %}">Create a new Lunch</a></h3>
	{% if lunch_list %}
		{% for lunch in lunch_list %}
			<div id="Day" style="padding:16px;">
				<hr style="margin:6px;height:60px;">
				<div class="jumbotron" id="plusone">
					<div class="row">
						<div class="col-xs-6">
							<h2 class="text-right">{{ lunch.serve_date }} - {{ serve_date_dow }}</h2>
						</div>
						<div class="col-xs-6">
							<h2 class="text-left">
			{% if lunch.status == 'po' %}
				Open to sign up
			{% elif lunch.status == 'pc' %}
				Planned, but full
			{% elif lunch.status == 'sd' %}
				This lunch has already been served
			{% elif lunch.status == 'cd' %}
				This lunch has been cancelled
			{% endif %}
							</h2>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-6">
							<h3><a href="{{ lunch.get_absolute_url }}">{{ lunch.recipe.recipe_name }}</a></h3>
							<a href="{{ lunch.get_absolute_url_edit }}">edit lunch</a>
							<hr>
							<h4 class="text-left">Lunch Info: {{ lunch.information }}</h4>
							<hr>
							<h4 class="text-left">Recipe Info: {{ lunch.recipe.description }}</h4>
							<hr>
							<p>Nutrition Info: 
			{% for nutritioncategory in lunch.recipe.nutritioncategory.all %}
				#{{ nutritioncategory }}, 
			{% endfor %}
							</p>
							<hr>
							<p>Cooked By: <a href="{{ lunch.recipe.chef.profile.get_absolute_url }}">{{ lunch.recipe.chef.username }}</a></p>
						</div>
						<div class="col-sm-6" id="mealimage" style="margin:0px;max-height:100%;padding:0px;height:100%;">
							<img src="{% static 'assets/img/'%}{{ lunch.recipe.recipe_image }}" style="width:79%;margin:0px;max-height:125;padding:10px;">
						</div>
					</div>
					<p>
						<a class="btn btn-default" role="button" href="#">Mark as recieved</a>
						<a class="btn btn-default" role="button" href="#">Leave a review</a>
						<a class="btn btn-default" role="button" href="{{ lunch.get_absolute_url_edit }}">Edit this lunch</a>
						<a class="btn btn-default" role="button" href="{{ lunch.get_absolute_url_delete }}">Delete this lunch</a>
					</p>
				</div>
			</div>
		{% endfor %}
	{% else %}
		<p>There are no lunches to choose from.</p>
	{% endif %}
{% endblock %}