{% extends "base_generic.html" %}

{% block content %}
{% load static %}


		<div id="Day" style="padding:16px;">


			<hr style="margin:6px;height:60px;">
			<div class="jumbotron" id="plusone">
			<div class="jumbotron" id="plusone">
				<div class="row">
					<div class="col-xs-6">
						<span><a href="../nextweek?datechoice={{ togglelastweek }}">Prev Week</a> or <a href="../nextweek?datechoice={{ togglenextweek }}">Next Week</a></span>
					</div>
				</div>
			</div>
				<div class="row">
					<div class="col-xs-6">
<!-- 						<h1 class="text-left">{{ request.GET.datechoice }}</h1>
						<h1 class="text-left">{{ datechoice }}</h1> -->
						<h1 class="text-left">{{ prevweek }}</h1>
						<h1 class="text-left">Through</h1>
						<h1 class="text-left">{{ nextweek }}</h1>

				{% for obj in datechoice2 %}
					<h4>{{ obj }}</h4>


				{% endfor %}
					</div>

				</div>

				<br>
			</div>
			<br>
		</div>



{% endblock %}