{% extends "base_generic.html" %}
{% block content %}

	<h1>Lunch List</h1>

<!-- 	<div id="Day" style="padding:16px;">
		<hr style="margin:6px;height:60px;">
		<div class="jumbotron" id="plusone">
			<div class="row">
				<div class="col-xs-6">
					<h2 class="text-right">Monday </h2>
				</div>
				<div class="col-xs-6">
					<h2 class="text-left">(Eaten) </h2>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<h3>Kevin's Cheese Stuffed Bell Peppers</h3>
					<hr>
					<h4 class="text-left">Roasted red bell pepeprs stuffed with a 3-cheese blend, bacon and various herbs.</h4>
					<p>#Low Carb #Keto</p>
				</div>
				<div class="col-sm-6" id="mealimage" style="margin:0px;max-height:100%;padding:0px;height:100%;"><img src="assets/img/Peppers.jpg" style="width:79%;margin:0px;max-height:125;padding:10px;"></div>
			</div>
			<p><a class="btn btn-default" role="button" href="#">Mark as recieved</a><a class="btn btn-default" role="button" href="#">Leave a review</a></p>
		</div>
	</div> -->
	{% if recipe_list %}
		{% for recipe in recipe_list %}
			<div id="Day" style="padding:16px;">
				<hr style="margin:6px;height:60px;">
				<div class="jumbotron" id="plusone">
					<div class="row">
						<div class="col-xs-6">
							<h2 class="text-right">{{ weekday }}</h2>
						</div>
						<div class="col-xs-6">
							<h2 class="text-left">(Eaten)</h2>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-6">
							<h3>{{ recipe.recipe_name }} wA</h3>
							<hr>
							<h4 class="text-left">{{ recipe.description }}</h4>
									<p>{% for nutritioncategory in recipe.nutritioncategory.all %}#{{ nutritioncategory }}, {% endfor %}</p>
						</div>
						<div class="col-sm-6" id="mealimage" style="margin:0px;max-height:100%;padding:0px;height:100%;">
							<img src="{% static 'assets/img/Peppers.jpg' %}" style="width:79%;margin:0px;max-height:125;padding:10px;">
						</div>
					</div>
					<p><a class="btn btn-default" role="button" href="#">Mark as recieved</a><a class="btn btn-default" role="button" href="#">Leave a review</a></p>
				</div>
			</div>
		{% endfor %}
	{% else %}
		<p>There are no recipes to choose from.</p>
	{% endif %}
{% endblock %}